node_modules
npm-debug.log
yarn-error.log
dist
.env
.env.*
.DS_Store
.git
.gitignore
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
logs
*.log
*.md
*.yml
*.yaml
.bak
.dockerignore
.dockerfile
.dockerignore
